@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
img{
    width: 100px;
    height: 100px;
}

:rott {
  --background: #ffffff;
  --primary-color: #ffca00;
  --secondary-color: #ff6732;
  --extra: #00f2ff;
  --text: #2a2f3d;
}
